@use "../../SASS/Main" as *;


.dark_mode{
    position: relative;
    cursor: pointer;
    @include circle(40px);
    @include flex(center,center);    
    background-color: var(--bg-ul);
    border-width: 2px;
    padding: 5px;
    &:active{
        scale: 0.9
    }
}

.sun{
    position: absolute;
    @include center ;
}
.moon{
    position: absolute;
}
