@use './SASS/Main' as * ;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
*,
*:after,
*:before{
  box-sizing: inherit;
  }
  
  html,
  body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
  }
  
  body {
  background-color: var(--bg-body);
  }
  

  
  /*========================
      container
  =========================*/
  
  .container {
  width: 80%;
  margin: 0 auto;
  }
  @media (max-width: 992px) {
  .container {
  width: 90%;
  }
  }
  @media (max-width: 420px) {
  .container {
      width: 98%;
  }
  }
  /*========================
      UL
  =========================*/
  ul li{
  list-style: none;
  display: inline-block;
  }
  ul li a {
  display: block;
  text-decoration: none;
  padding: 6px 12px;
  color: inherit;
  }

  /*========================
      dark mode
  =========================*/
  .theme{
      transition: 0.5s all ease-in-out;
      background-color:var(--bg-body);
      color: var(--text-body);
  }
  .dark{
      --bg-body : #{$slate-9};
      --text-body: #{$slate-1};

      //navBar
      --text-nav: #{$slate-1};

      //page id 
      --sh-bg: #{$teal-5};

      //home
      --text-gradient1: #{$orange-2};
      --text-gradient2: #{$cyan-3};

      //about
      --hover-btn: #{$teal-5};

      //footer
      --line : #{$gray-2};
  }
  .light{
      --bg-body : #{$slate-1};
      --text-body:#{$stone-10};

      //navBar
      --text-nav: #{$slate-8};

      //page id 
      --sh-bg: #{$gray-5};

       //home
      --text-gradient1: #{$green-8};
      --text-gradient2 : #{$cyan-7};
      
      //about
      --hover-btn: #{$gray-5};

      //footer
      --line : #{$gray-5};
  }
